[Unit]
Description=Run CMS Proxy Service for contests %i
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/tmp
ExecStart=/bin/sh -c "/usr/local/bin/cmsProxyService -c %i >> /var/log/cms/cmsProxyService.log 2>&1"
Restart=on-failure
SyslogIdentifier=cmsProxyService%i

[Install]
WantedBy=multi-user.target
