[Unit]
Description=Starts all cms services but: AdminWebServer, RankingWebServer and LogService
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/tmp
ExecStart=/bin/sh -c "/usr/local/bin/cmsResourceService -a ALL >> /var/log/cms/resourceService.log 2>&1"
Restart=no

[Install]
WantedBy=multi-user.target
